{{define "title"}}Home{{end}}

{{define "content"}}
<link rel="stylesheet" href="/static/css/user.css">
<div class="container">
    <div class="sidebar">
        <div class="sidebar-section">
            <h3>Categories</h3>
            <ul class="category-list">
                {{range .Categories}}
                <li><a href="/c/{{.Name}}" class="sidebar-link">
                    <i data-feather="hash"></i>
                    {{.Name}}
                </a></li>
                {{end}}
            </ul>
        </div>
        <div class="sidebar-footer">
            <a href="/settings" class="sidebar-link">
                <i data-feather="settings"></i>
                Settings
            </a>
            <a href="/logout" class="sidebar-link logout-link">
                <i data-feather="log-out"></i>
                Logout
            </a>
        </div>
    </div>
</div>
{{end}}